@import "variables";

.app {
  font-family: $fontPrimary;
}

.bg-primary {
  background-color: $primaryColor !important;
}

.font-title {
  font-family: $fontSecond;
}

.text-white {
  color: white !important;
}
.text-black {
  color: #2c3e50 !important;
}
.b-700 {
  font-weight: 700;
}

.fz {
  font-size: 40px;
}
.fz-24 {
  font-size: 24px;
}
.fz-48 {
  font-size: 48px;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 575.98px) {
  .fz {
    font-size: 64px;
  }
}
