@import "../../assets/scss/variables.scss";

.nav {
  background-color: $secondaryColor;
}
.navbrand {
  font-size: 24px !important;
}
.nav-link {
  &:hover {
    color: $primaryColor !important;
  }
  &.active {
    background-color: $primaryColor;
    border-radius: 15px;
    color: white !important;
  }
}
