.divider {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__line {
    width: 150px;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #212529;
    border-radius: 1rem;
    border-color: #212529;
    &:first-child {
      margin-right: 1rem;
    }
    &:last-child {
      margin-left: 1rem;
    }
  }
}
.putih {
  .divider {
    &__line {
      background-color: white;
      border-color: white;
    }
  }
}
