@import "../../assets/scss/variables";

.about {
  .button-download {
    border: 1px solid white;
    color: white;
    padding: 20px;
    border-radius: 10px;
  }
  .button-download:hover {
    border: 1px solid white;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
  }
}
