@import "../../assets/scss/variables";

.footer {
  background-color: $secondaryColor;
  .f-title {
    font-size: 24px;
  }
  .text {
    font-size: 20px;
  }
  .socmed {
    display: flex;
    text-align: center;
    .round-border {
      border-radius: 50px;
      border: 2px solid white;
      padding: 10px;
      margin: 5px;
      cursor: pointer;
      &:hover {
        background-color: white;
        color: $secondaryColor;
      }
    }
  }
}
.copyright {
  background-color: #1a252f;
}

.color-primary {
  color: $primaryColor;
}
