.port-card {
  img {
    border-radius: 10px;
  }
}

.card-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.port-img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 10px;
  transition: 0.3s ease;
  background-color: #1abc9c;

  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .icon:hover {
    color: white;
    z-index: 10;
    opacity: 1 !important;
  }
}

.card-container:hover .overlay {
  opacity: 0.9;
}

.modal-body {
  padding: 100px !important;
}

.btn-content {
  background-color: #1abc9c !important;
  border-color: #1abc9c !important;
  font-size: 18px !important;
  border-radius: 10px !important;
}
