@import "../../assets/scss/variables";

.contact {
  .button-send {
    border: 1px solid white;
    color: white;
    background-color: $primaryColor;
    padding: 15px;
    border-radius: 10px;
  }
  .button-send:hover {
    border: 1px solid white;
    background-color: #1abc8c;
    color: white;
    padding: 15px;
    border-radius: 10px;
  }
}
